<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Appium Grid driver endpoint (only one should be uncommented)-->
    <add key="UITestDriverURL" value="http://127.0.0.1:1234/wd/hub" />
    
    <add key="UIBaseDriveURL" value="https://www.katoennatie.com/" />

    <!--Default global timeout-->
    <add key="DefaultTimeOut" value="60" />
  </appSettings>
</configuration>